services:
  hazelcast-1:
    image: hazelcast/hazelcast:5.4.0
    container_name: hazelcast-1
    environment:
      - HZ_CLUSTERNAME=dev
    #   - HAZELCAST_CONFIG=hazelcast-cp.yaml
    # volumes:
    #   - ./hazelcast-cp.yaml:/opt/hazelcast/hazelcast-cp.yaml
    networks:
      - counter_network
    ports:
      - "5701:5701"

  hazelcast-2:
    image: hazelcast/hazelcast:5.4.0
    container_name: hazelcast-2
    environment:
      - HZ_CLUSTERNAME=dev
    #   - HAZELCAST_CONFIG=hazelcast-cp.yaml
    # volumes:
    #   - ./hazelcast-cp.yaml:/opt/hazelcast/hazelcast-cp.yaml
    networks:
      - counter_network
    ports:
      - "5702:5701"
    depends_on:
      - hazelcast-1

  hazelcast-3:
    image: hazelcast/hazelcast:5.4.0
    container_name: hazelcast-3
    environment:
      - HZ_CLUSTERNAME=dev
    #   - HAZELCAST_CONFIG=hazelcast-cp.yaml
    # volumes:
    #   - ./hazelcast-cp.yaml:/opt/hazelcast/hazelcast-cp.yaml
    networks:
      - counter_network
    ports:
      - "5703:5701"
    depends_on:
      - hazelcast-1

networks:
  counter_network:
    name: counter_network
    external: true
