services:
  web-counter:
    build:
      context: ..
      dockerfile: web_counter/api/Dockerfile
    container_name: web-counter
    ports:
      - "8080:8080"
    environment:
      - HOST=0.0.0.0
      - PORT=8080
      - STORAGE_METHOD=postgresql
      - STORAGE_PATH=/app/counter.txt
      - WORKERS=4
      - DB_HOST=postgresql-counter-db
      - DB_PORT=5432
      - POSTGRES_DB=counter_db
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
    networks:
      - counter_network
    restart: unless-stopped

networks:
  counter_network:
    name: counter_network
    external: true
