services:
  mongodb:
    image: mongo:7
    container_name: mongodb-counter-db
    ports:
      - "27017:27017"
    environment:
      - MONGO_INITDB_DATABASE=counter_db
    volumes:
      - mongodb_data:/data/db
    networks:
      - counter_network
    restart: unless-stopped
    healthcheck:
      test: ["CMD", "mongosh", "--eval", "db.adminCommand('ping')"]
      interval: 10s
      timeout: 5s
      retries: 5

volumes:
  mongodb_data:

networks:
  counter_network:
    name: counter_network
    external: true
